body {
    width: 95%;
    margin: 15px auto;
    background-image: url(/images/astronaut.jpg);
    background-repeat: repeat-y;
    background-size: 350px;
    background-position: right;
    border: black 1px;
    border-radius: 10px;
}

article {
    width: 75%;
}

aside {
    width: 20%;
    border-radius: 10em;
    border-width: 3px;
    border-color: blue;
    background-color: rgb(173, 216, 230);
}