body {
    width: 95%;
    margin: 15px auto;
    background-image:linear-gradient(on left lightblue 100% white 0%)
    background-image: url(/images/astronaut.jpg) !important;
    background-repeat: repeat-y;
    background-size: 350px;
    background-position: right;
    border: black 1px solid;
    border-radius: 10px;
}

article {
    width: 75%;
}

aside {
    width: 20%;
    border-width: 2px;
    border-color: blue;
    border-style:solid;
    background-color: rgb(173, 216, 230);
}