html {
    background-image: linear-gradient(white 0% #facd8a 100%);
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 15px auto
    width: 1000px;
    background-color: white;
}

a:hover, a:focus {
     font-style:italic;
     color: teal;
}

header h1 {
    font-size: 250%;
    color:sienna;
    text-indent: 30px;
}

header h2 {
    font-size: 150%;
    color: #c66537;
    text-indent: 30px;
}

header img {
    float: left;
}

.shadow{
    text-shadow: 2px 2px 2px rgb(109, 55, 30);
}

main {
    clear: left;
}