body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px;
}

a:hover, a:focus {
     font-style:italic;
     color: teal;
}

header h1 {
    font-size: 250%;
    color:sienna;
    text-indent: 30px;
}

header h2 {
    font-size: 150%;
    color: #c66537;
    text-indent: 30px;
}
