html {
    background-image: linear-gradient( left, white 0%, #facd8a 100%);
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 15px auto;
    width: 90%;
    background-color: white !important;
    padding: 15px 1.5em;
    border: 1px solid #3a312a;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background: url("/images/pixelhappyface.png") right repeat-y;
    background-size: 25%;
    background-attachment: fixed;
}

a:hover, a:focus {
     font-style:italic;
     color: teal;
     border: 3px blue;
     border-style: dotted solid;
}

header h1 {
    font-size: 250%;
    color:sienna;
    text-indent: 30px;
}

header h2 {
    font-size: 150%;
    color: #c66537;
    text-indent: 30px;
}

header img {
    float: left;
    margin-left: 2em;
}

header {
    margin-bottom: 3em;
}

.shadow{
    text-shadow: 2px 2px 2px rgb(109, 55, 30);
}

article {
    clear: left;
    width: 70%;
    float: left;
    column-count: 2;
    column-rule: 2px dotted maroon;
    column-gap: 2em;
    margin-left: 2em;
}

article h3 {
    column-span: all;
}

article img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: lightgreen;
}